/* Container for the whole Add Issue page */
.add-issue-container {
  padding: 20px;
}

/* Header styling */
.add-issue-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Title for Add Issue */
.add-issue-title {
  font-size: 24px;
  font-weight: bold;
 
}

/* Styling for the Back button */
.back-button {
  padding: 10px 20px;
  background-color: #003d82;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16 px;
}

.back-button:hover {
  background-color:#003d82;
}
